In [58]:
# Load libraries and global parameters
packages =  c("lubridate","Hmisc", "ggplot2","directlabels", "dplyr", "tidyr", "data.table", 'corrplot', 'gridExtra', 'forecast', 'tseries', 'TSA', 'tibble', 'TTR', 'xts', 'dygraphs', 'assertthat')

my.install <- function(pkg, ...){
  if (!(pkg %in% installed.packages()[,1])) {
    install.packages(pkg)
  }
  return (library(pkg, ...))
}

purrr::walk(packages, my.install, character.only = TRUE, warn.conflicts = FALSE)

In [57]:
crime.data = read.csv('crime_report.csv')
str(crime.data)

'data.frame':	2829 obs. of  15 variables:
 $ report_year        : int  1975 1975 1975 1975 1975 1975 1975 1975 1975 1975 ...
 $ agency_code        : Factor w/ 69 levels "","AZ00717","AZ00723",..: 42 59 22 14 61 30 33 29 44 39 ...
 $ agency_jurisdiction: Factor w/ 69 levels "Albuquerque, NM",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ population         : int  286238 112478 490584 116656 300400 642154 864100 616120 422276 262103 ...
 $ violent_crimes     : int  2383 278 8033 611 1215 1259 16086 11386 3350 1937 ...
 $ homicides          : int  30 5 185 7 33 25 259 119 63 68 ...
 $ rapes              : int  181 28 443 44 190 137 463 453 192 71 ...
 $ assaults           : int  1353 132 3518 389 463 347 6309 3036 755 976 ...
 $ robberies          : int  819 113 3887 171 529 750 9055 7778 2340 822 ...
 $ months_reported    : int  12 12 12 12 12 12 12 12 12 12 ...
 $ crimes_percapita   : num  833 247 1637 524 404 ...
 $ homicides_percapita: num  10.48 4.45 37.71 6 10.99 ...
 $ rapes_percapita    : num  63.2 24.9 90.3 37.7 63.2 ...
 $ assaults_percapita : num  473 117 717 333 154 ...
 $ robberies_percapita: num  286 100 792 147 176 ...

In [3]:
#Overview of data
summary(crime.data)
str(crime.data)

  report_year    agency_code             agency_jurisdiction   population
 Min.   :1975          :  41   Albuquerque, NM     :  41     Min.   : 100763
 1st Qu.:1985   AZ00717:  41   Arlington, TX       :  41     1st Qu.: 377931
 Median :1995   AZ00723:  41   Atlanta, GA         :  41     Median : 536614
 Mean   :1995   AZ01003:  41   Aurora, CO          :  41     Mean   : 795698
 3rd Qu.:2005   CA00109:  41   Austin, TX          :  41     3rd Qu.: 816856
 Max.   :2015   CA01005:  41   Baltimore County, MD:  41     Max.   :8550861
                (Other):2583   (Other)             :2583     NA's   :69
 violent_crimes      homicides           rapes           assaults
 Min.   :    154   Min.   :    1.0   Min.   :  15.0   Min.   :   15
 1st Qu.:   3015   1st Qu.:   32.0   1st Qu.: 176.2   1st Qu.: 1467
 Median :   5136   Median :   64.0   Median : 291.0   Median : 2597
 Mean   :  29633   Mean   :  398.4   Mean   : 416.3   Mean   : 4405
 3rd Qu.:   9058   3rd Qu.:  131.0   3rd Qu.: 465.0   3rd Qu.: 4556
 Max.   :1932274   Max.   :24703.0   Max.   :3899.0   Max.   :71030
 NA's   :35        NA's   :34        NA's   :75       NA's   :76
   robberies      months_reported crimes_percapita  homicides_percapita
 Min.   :    83   Min.   : 0.00   Min.   :  16.49   Min.   : 0.210
 1st Qu.:  1032   1st Qu.:12.00   1st Qu.: 625.08   1st Qu.: 6.955
 Median :  1940   Median :12.00   Median : 949.68   Median :11.980
 Mean   :  4000   Mean   :11.87   Mean   :1093.05   Mean   :15.373
 3rd Qu.:  3610   3rd Qu.:12.00   3rd Qu.:1409.51   3rd Qu.:20.230
 Max.   :107475   Max.   :12.00   Max.   :4352.83   Max.   :94.740
 NA's   :75       NA's   :137     NA's   :35        NA's   :34
 rapes_percapita  assaults_percapita robberies_percapita
 Min.   :  1.64   Min.   :   1.61    Min.   :  11.46
 1st Qu.: 35.77   1st Qu.: 319.09    1st Qu.: 210.24
 Median : 55.90   Median : 487.48    Median : 374.40
 Mean   : 59.31   Mean   : 566.60    Mean   : 459.97
 3rd Qu.: 77.80   3rd Qu.: 728.24    3rd Qu.: 612.00
 Max.   :199.30   Max.   :2368.22    Max.   :2337.52
 NA's   :75       NA's   :76         NA's   :75

'data.frame':	2829 obs. of  15 variables:
 $ report_year        : int  1975 1975 1975 1975 1975 1975 1975 1975 1975 1975 ...
 $ agency_code        : Factor w/ 69 levels "","AZ00717","AZ00723",..: 42 59 22 14 61 30 33 29 44 39 ...
 $ agency_jurisdiction: Factor w/ 69 levels "Albuquerque, NM",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ population         : int  286238 112478 490584 116656 300400 642154 864100 616120 422276 262103 ...
 $ violent_crimes     : int  2383 278 8033 611 1215 1259 16086 11386 3350 1937 ...
 $ homicides          : int  30 5 185 7 33 25 259 119 63 68 ...
 $ rapes              : int  181 28 443 44 190 137 463 453 192 71 ...
 $ assaults           : int  1353 132 3518 389 463 347 6309 3036 755 976 ...
 $ robberies          : int  819 113 3887 171 529 750 9055 7778 2340 822 ...
 $ months_reported    : int  12 12 12 12 12 12 12 12 12 12 ...
 $ crimes_percapita   : num  833 247 1637 524 404 ...
 $ homicides_percapita: num  10.48 4.45 37.71 6 10.99 ...
 $ rapes_percapita    : num  63.2 24.9 90.3 37.7 63.2 ...
 $ assaults_percapita : num  473 117 717 333 154 ...
 $ robberies_percapita: num  286 100 792 147 176 ...

In [4]:
#Data Cleaning
crime.data[!complete.cases(crime.data),]
nrow(crime.data[!complete.cases(crime.data),])

     report_year agency_code agency_jurisdiction        population
31   1975        KY05680     Louisville, KY                 NA
69   1975                    United States                  NA
100  1976        KY05680     Louisville, KY                 NA
138  1976                    United States                  NA
169  1977        KY05680     Louisville, KY                 NA
207  1977                    United States                  NA
238  1978        KY05680     Louisville, KY                 NA
276  1978                    United States                  NA
307  1979        KY05680     Louisville, KY                 NA
345  1979                    United States                  NA
376  1980        KY05680     Louisville, KY                 NA
414  1980                    United States                  NA
445  1981        KY05680     Louisville, KY                 NA
483  1981                    United States                  NA
514  1982        KY05680     Louisville, KY                 NA
552  1982                    United States                  NA
583  1983        KY05680     Louisville, KY                 NA
621  1983                    United States                  NA
652  1984        KY05680     Louisville, KY                 NA
690  1984                    United States                  NA
721  1985        KY05680     Louisville, KY                 NA
759  1985                    United States                  NA
790  1986        KY05680     Louisville, KY                 NA
828  1986                    United States                  NA
859  1987        KY05680     Louisville, KY                 NA
897  1987                    United States                  NA
922  1988        FL01602     Jacksonville, FL           645024
928  1988        KY05680     Louisville, KY                 NA
960  1988        FL02902     Tampa, FL                  293732
966  1988                    United States                  NA
...  ...         ...         ...                        ...
2800 2015        NY02900     Nassau County, NY          1061175
2801 2015        LANPD00     New Orleans, LA             393447
2802 2015        NY03030     New York City, NY          8550861
2803 2015        NJNPD00     Newark, NJ                  279110
2804 2015        CA00109     Oakland, CA                 419481
2805 2015        OK05506     Oklahoma City, OK           630621
2806 2015        NB02802     Omaha, NE                   452252
2807 2015        FL04804     Orlando, FL                 268438
2808 2015        PAPEP00     Philadelphia, PA           1567810
2809 2015        AZ00723     Phoenix, AZ                1559744
2810 2015        PAPPD00     Pittsburgh, PA              306870
2811 2015        OR02602     Portland, OR                615672
2812 2015        MD01721     Prince George's County, MD  685191
2813 2015        NC09201     Raleigh, NC                 438363
2814 2015        CA03404     Sacramento, CA              489717
2815 2015        UT01803     Salt Lake City, UT          191992
2816 2015        TXSPD00     San Antonio, TX            1463586
2817 2015        CA03711     San Diego, CA              1400467
2818 2015        CA03801     San Francisco, CA           863782
2819 2015        CA04313     San Jose, CA               1031458
2820 2015        WASPD00     Seattle, WA                 683700
2821 2015        MOSPD00     St. Louis, MO               317095
2822 2015        NY05101     Suffolk County, NY         1341453
2823 2015        FL02902     Tampa, FL                   364383
2824 2015        AZ01003     Tucson, AZ                  529675
2825 2015        OK07205     Tulsa, OK                   401520
2826 2015        VA12800     Virginia Beach, VA          452797
2827 2015        DCMPD00     Washington, DC              672228
2828 2015        KS08703     Wichita, KS                 389824
2829 2015                    United States                   NA
     violent_crimes homicides rapes assaults robberies months_reported
31        NA           NA      NA   NA         NA      NA
69   1039710        20510      NA   NA         NA      NA
100       NA           NA      NA   NA         NA      NA
138  1004210        18780      NA   NA         NA      NA
169       NA           NA      NA   NA         NA      NA
207  1029580        19120      NA   NA         NA      NA
238       NA           NA      NA   NA         NA      NA
276  1085550        19560      NA   NA         NA      NA
307       NA           NA      NA   NA         NA      NA
345  1208030        21460      NA   NA         NA      NA
376       NA           NA      NA   NA         NA      NA
414  1344520        23040      NA   NA         NA      NA
445       NA           NA      NA   NA         NA      NA
483  1361820        22520      NA   NA         NA      NA
514       NA           NA      NA   NA         NA      NA
552  1322390        21010      NA   NA         NA      NA
583       NA           NA      NA   NA         NA      NA
621  1258087        19308      NA   NA         NA      NA
652       NA           NA      NA   NA         NA      NA
690  1273282        18692      NA   NA         NA      NA
721       NA           NA      NA   NA         NA      NA
759  1327767        18976      NA   NA         NA      NA
790       NA           NA      NA   NA         NA      NA
828  1489169        20613      NA   NA         NA      NA
859       NA           NA      NA   NA         NA      NA
897  1483999        20096      NA   NA         NA      NA
922       NA          187     573   NA       4299       0
928       NA           NA      NA   NA         NA      NA
960       NA           NA      NA   NA         NA       0
966  1566221        20675      NA   NA         NA      NA
...  ...            ...       ...   ...      ...       ...
2800    1318           13       68    682      555     NA
2801    3736          164      409   1666     1497     NA
2802   50088          352     2244  30546    16946     NA
2803    3072          107      104   1068     1793     NA
2804    6051           85      285   2391     3290     NA
2805    4828           73      480   3083     1192     NA
2806    2329           48      174   1452      655     NA
2807    2525           32      182   1789      522     NA
2808   16132          280     1322   7765     6765     NA
2809    9261          112     1016   5113     3020     NA
2810    2167           57       82   1170      858     NA
2811      NA           NA       NA     NA       NA     NA
2812    3256           66      248   1583     1359     NA
2813    1676           17      108    873      678     NA
2814    3611           43      105   2289     1174     NA
2815    1642            8      291    874      469     NA
2816    8594           94     1049   5465     1986     NA
2817    5582           37      566   3601     1378     NA
2818    6710           53      344   2703     3610     NA
2819    3400           30      375   1855     1140     NA
2820    4093           23      144   2394     1532     NA
2821    5762          188      263   3521     1790     NA
2822    1675           24       79    895      677     NA
2823    2298           34       77   1516      671     NA
2824    3472           31      422   1960     1059     NA
2825    3628           55      365   2354      854     NA
2826     626           19      103    234      270     NA
2827    8084          162      494   4024     3404     NA
2828    3839           27      349   2730      733     NA
2829 1197704        15696       NA     NA       NA     NA
     crimes_percapita homicides_percapita rapes_percapita assaults_percapita
31      NA               NA                  NA           NA
69   487.8             9.60                  NA           NA
100     NA               NA                  NA           NA
138  467.8             8.70                  NA           NA
169     NA               NA                  NA           NA
207  475.9             8.80                  NA           NA
238     NA               NA                  NA           NA
276  497.8             9.00                  NA           NA
307     NA               NA                  NA           NA
345  548.9             9.80                  NA           NA
376     NA               NA                  NA           NA
414  596.6            10.20                  NA           NA
445     NA               NA                  NA           NA
483  593.5             9.80                  NA           NA
514     NA               NA                  NA           NA
552  570.8             9.10                  NA           NA
583     NA               NA                  NA           NA
621  538.1             8.30                  NA           NA
652     NA               NA                  NA           NA
690  539.9             7.90                  NA           NA
721     NA               NA                  NA           NA
759  558.1             8.00                  NA           NA
790     NA               NA                  NA           NA
828  620.1             8.60                  NA           NA
859     NA               NA                  NA           NA
897  612.5             8.30                  NA           NA
922     NA            28.99               88.83           NA
928     NA               NA                  NA           NA
960     NA               NA                  NA           NA
966  640.6             8.50                  NA           NA
...  ...              ...                 ...             ...
2800  124.20           1.23                 6.41            64.27
2801  949.56          41.68               103.95           423.44
2802  585.77           4.12                26.24           357.23
2803 1100.64          38.34                37.26           382.64
2804 1442.50          20.26                67.94           569.99
2805  765.59          11.58                76.12           488.88
2806  514.98          10.61                38.47           321.06
2807  940.63          11.92                67.80           666.45
2808 1028.95          17.86                84.32           495.28
2809  593.75           7.18                65.14           327.81
2810  706.16          18.57                26.72           381.27
2811      NA             NA                   NA               NA
2812  475.20           9.63                36.19           231.03
2813  382.33           3.88                24.64           199.15
2814  737.36           8.78                21.44           467.41
2815  855.24           4.17               151.57           455.23
2816  587.19           6.42                71.67           373.40
2817  398.58           2.64                40.42           257.13
2818  776.82           6.14                39.82           312.93
2819  329.63           2.91                36.36           179.84
2820  598.65           3.36                21.06           350.15
2821 1817.12          59.29                82.94          1110.39
2822  124.86           1.79                 5.89            66.72
2823  630.66           9.33                21.13           416.05
2824  655.50           5.85                79.67           370.04
2825  903.57          13.70                90.90           586.27
2826  138.25           4.20                22.75            51.68
2827 1202.57          24.10                73.49           598.61
2828  984.80           6.93                89.53           700.32
2829  372.60           4.90                   NA               NA
     robberies_percapita
31       NA
69       NA
100      NA
138      NA
169      NA
207      NA
238      NA
276      NA
307      NA
345      NA
376      NA
414      NA
445      NA
483      NA
514      NA
552      NA
583      NA
621      NA
652      NA
690      NA
721      NA
759      NA
790      NA
828      NA
859      NA
897      NA
922  666.49
928      NA
960      NA
966      NA
...  ...
2800  52.30
2801 380.48
2802 198.18
2803 642.40
2804 784.30
2805 189.02
2806 144.83
2807 194.46
2808 431.49
2809 193.62
2810 279.60
2811     NA
2812 198.34
2813 154.67
2814 239.73
2815 244.28
2816 135.69
2817  98.40
2818 417.93
2819 110.52
2820 224.07
2821 564.50
2822  50.47
2823 184.15
2824 199.93
2825 212.69
2826  59.63
2827 506.38
2828 188.03
2829     NA

[1] 141

The total records having missing values is 141. Upon suspection, the column months_reported has the most missing values. Since it is not significant in the research, it is removed. After removal, incomplete cases reduced to 76. These 76 records were then removed rather than imputed since the data used is very sensitive and is unethical to assume a crime rate for a particular area.

In [5]:
# remove the column month_reported
crime.data = select(crime.data, -c(months_reported))
nrow(crime.data[!complete.cases(crime.data),])

[1] 76

In [6]:
# remove records with missing values
crime.data = na.omit(crime.data)
summary(crime.data)

  report_year    agency_code        agency_jurisdiction   population
 Min.   :1975   AZ00717:  41   Albuquerque, NM:  41     Min.   : 100763
 1st Qu.:1985   AZ00723:  41   Arlington, TX  :  41     1st Qu.: 378014
 Median :1995   AZ01003:  41   Atlanta, GA    :  41     Median : 537081
 Mean   :1995   CA00109:  41   Aurora, CO     :  41     Mean   : 796458
 3rd Qu.:2005   CA01005:  41   Austin, TX     :  41     3rd Qu.: 817083
 Max.   :2015   CA01900:  41   Baltimore, MD  :  41     Max.   :8550861
                (Other):2507   (Other)        :2507
 violent_crimes     homicides          rapes           assaults
 Min.   :   154   Min.   :   1.0   Min.   :  15.0   Min.   :   15
 1st Qu.:  2965   1st Qu.:  32.0   1st Qu.: 176.0   1st Qu.: 1467
 Median :  5066   Median :  63.0   Median : 291.0   Median : 2597
 Mean   :  8946   Mean   : 124.9   Mean   : 416.2   Mean   : 4405
 3rd Qu.:  8804   3rd Qu.: 127.0   3rd Qu.: 465.0   3rd Qu.: 4556
 Max.   :174542   Max.   :2245.0   Max.   :3899.0   Max.   :71030

   robberies      crimes_percapita  homicides_percapita rapes_percapita
 Min.   :    83   Min.   :  16.49   Min.   : 0.21       Min.   :  1.64
 1st Qu.:  1032   1st Qu.: 633.71   1st Qu.: 7.01       1st Qu.: 35.77
 Median :  1939   Median : 957.97   Median :12.15       Median : 55.90
 Mean   :  4000   Mean   :1101.27   Mean   :15.49       Mean   : 59.29
 3rd Qu.:  3609   3rd Qu.:1417.57   3rd Qu.:20.35       3rd Qu.: 77.79
 Max.   :107475   Max.   :4352.83   Max.   :94.74       Max.   :199.30

 assaults_percapita robberies_percapita
 Min.   :   1.61    Min.   :  11.46
 1st Qu.: 319.09    1st Qu.: 210.19
 Median : 487.48    Median : 374.32
 Mean   : 566.60    Mean   : 459.89
 3rd Qu.: 728.24    3rd Qu.: 610.73
 Max.   :2368.22    Max.   :2337.52

In [7]:
#Extracting crime columns from the data
crime.data.crime = crime.data[,c(5,6,7,8,9)]
summary(crime.data.crime)

 violent_crimes     homicides          rapes           assaults
 Min.   :   154   Min.   :   1.0   Min.   :  15.0   Min.   :   15
 1st Qu.:  2965   1st Qu.:  32.0   1st Qu.: 176.0   1st Qu.: 1467
 Median :  5066   Median :  63.0   Median : 291.0   Median : 2597
 Mean   :  8946   Mean   : 124.9   Mean   : 416.2   Mean   : 4405
 3rd Qu.:  8804   3rd Qu.: 127.0   3rd Qu.: 465.0   3rd Qu.: 4556
 Max.   :174542   Max.   :2245.0   Max.   :3899.0   Max.   :71030
   robberies
 Min.   :    83
 1st Qu.:  1032
 Median :  1939
 Mean   :  4000
 3rd Qu.:  3609
 Max.   :107475

In [52]:
#crime.data.crime = aggregate(crime.data[,c(5,6,7,8,9)], by=list(crime.data$agency_jurisdiction), FUN=sum)
#total = rowSums(crime.data.crime[,c(2,3,4,5,6)])
#crime.data.crime = cbind(crime.data.crime, total)
#crime.data.crime
total = rowSums(crime.data[,c(5,6,7,8,9)])
crime.data = cbind(crime.data, total)

In [ ]:
library(directlabels)
ggplot( data = crime.data, aes(x=report_year, y=total, group=agency_jurisdiction, color=agency_jurisdiction)) +
    geom_line() + 
    geom_dl(aes(label=agency_jurisdiction), method="last.points") 


#graph shows in R

In [59]:
#Add date column for ggplot time series
library(lubridate)
report_date <- as.Date(as.character(crime.data$report_year), format = "%Y")
cbind(crime.data, report_date)

     report_year agency_code agency_jurisdiction        population
1    1975        NM00101     Albuquerque, NM             286238
2    1975        TX22001     Arlington, TX               112478
3    1975        GAAPD00     Atlanta, GA                 490584
4    1975        CO00101     Aurora, CO                  116656
5    1975        TX22701     Austin, TX                  300400
6    1975        MD00301     Baltimore County, MD        642154
7    1975        MDBPD00     Baltimore, MD               864100
8    1975        MA01301     Boston, MA                  616120
9    1975        NY01401     Buffalo, NY                 422276
10   1975        NC06001     Charlotte, NC               262103
11   1975        ILCPD00     Chicago, IL                3150000
12   1975        OHCIP00     Cincinnati, OH              433367
13   1975        OHCLP00     Cleveland, OH               659931
14   1975        OHCOP00     Columbus, OH                572797
15   1975        TXDPD00     Dallas, TX                  864665
16   1975        CODPD00     Denver, CO                  508140
17   1975        MI82349     Detroit, MI                1432444
18   1975        TX07102     El Paso, TX                 369000
19   1975        VA02901     Fairfax County, VA          487905
20   1975        TX22012     Fort Worth, TX              381275
21   1975        CA01005     Fresno, CA                  176500
22   1975        HI00200     Honolulu, HI                705262
23   1975        TXHPD00     Houston, TX                1372342
24   1975        INIPD00     Indianapolis, IN            503411
25   1975        FL01602     Jacksonville, FL            542792
26   1975        MOKPD00     Kansas City, MO             489094
27   1975        NV00201     Las Vegas, NV               249186
28   1975        CA01941     Long Beach, CA              340758
29   1975        CA01900     Los Angeles County, CA     1022888
30   1975        CA01942     Los Angeles, CA            2729878
...  ...         ...         ...                        ...
2800 2015        NY02900     Nassau County, NY          1061175
2801 2015        LANPD00     New Orleans, LA             393447
2802 2015        NY03030     New York City, NY          8550861
2803 2015        NJNPD00     Newark, NJ                  279110
2804 2015        CA00109     Oakland, CA                 419481
2805 2015        OK05506     Oklahoma City, OK           630621
2806 2015        NB02802     Omaha, NE                   452252
2807 2015        FL04804     Orlando, FL                 268438
2808 2015        PAPEP00     Philadelphia, PA           1567810
2809 2015        AZ00723     Phoenix, AZ                1559744
2810 2015        PAPPD00     Pittsburgh, PA              306870
2811 2015        OR02602     Portland, OR                615672
2812 2015        MD01721     Prince George's County, MD  685191
2813 2015        NC09201     Raleigh, NC                 438363
2814 2015        CA03404     Sacramento, CA              489717
2815 2015        UT01803     Salt Lake City, UT          191992
2816 2015        TXSPD00     San Antonio, TX            1463586
2817 2015        CA03711     San Diego, CA              1400467
2818 2015        CA03801     San Francisco, CA           863782
2819 2015        CA04313     San Jose, CA               1031458
2820 2015        WASPD00     Seattle, WA                 683700
2821 2015        MOSPD00     St. Louis, MO               317095
2822 2015        NY05101     Suffolk County, NY         1341453
2823 2015        FL02902     Tampa, FL                   364383
2824 2015        AZ01003     Tucson, AZ                  529675
2825 2015        OK07205     Tulsa, OK                   401520
2826 2015        VA12800     Virginia Beach, VA          452797
2827 2015        DCMPD00     Washington, DC              672228
2828 2015        KS08703     Wichita, KS                 389824
2829 2015                    United States                   NA
     violent_crimes homicides rapes assaults robberies months_reported
1     2383           30        181   1353      819     12
2      278            5         28    132      113     12
3     8033          185        443   3518     3887     12
4      611            7         44    389      171     12
5     1215           33        190    463      529     12
6     1259           25        137    347      750     12
7    16086          259        463   6309     9055     12
8    11386          119        453   3036     7778     12
9     3350           63        192    755     2340     12
10    1937           68         71    976      822     12
11   37160          818       1657  12514    22171     12
12    3578           64        261   1508     1745     12
13   10403          288        491   2524     7100     12
14    3980           62        416   1100     2402     12
15    7655          237        547   3485     3386     12
16    4960           74        480   1838     2568     12
17   30387          633       1424   7013    21317     12
18    1618           21        122    635      840     12
19     805           21        104    247      433     12
20    1939           69        169    494     1207     12
21    1141           25         84    465      567     12
22    1596           58        169    319     1050     12
23    8924          347        588   1567     6422     12
24    4655           95        351   1117     3092     12
25    4579           91        316   2445     1727     12
26    6072          114        302   2575     3081     12
27    2594           37        169   1043     1345     12
28    3189           54        169   1007     1959     12
29    9792          138        471   6128     3055     12
30   30405          554       1768  13493    14590     12
...  ...            ...       ...   ...      ...       ...
2800    1318           13       68    682      555     NA
2801    3736          164      409   1666     1497     NA
2802   50088          352     2244  30546    16946     NA
2803    3072          107      104   1068     1793     NA
2804    6051           85      285   2391     3290     NA
2805    4828           73      480   3083     1192     NA
2806    2329           48      174   1452      655     NA
2807    2525           32      182   1789      522     NA
2808   16132          280     1322   7765     6765     NA
2809    9261          112     1016   5113     3020     NA
2810    2167           57       82   1170      858     NA
2811      NA           NA       NA     NA       NA     NA
2812    3256           66      248   1583     1359     NA
2813    1676           17      108    873      678     NA
2814    3611           43      105   2289     1174     NA
2815    1642            8      291    874      469     NA
2816    8594           94     1049   5465     1986     NA
2817    5582           37      566   3601     1378     NA
2818    6710           53      344   2703     3610     NA
2819    3400           30      375   1855     1140     NA
2820    4093           23      144   2394     1532     NA
2821    5762          188      263   3521     1790     NA
2822    1675           24       79    895      677     NA
2823    2298           34       77   1516      671     NA
2824    3472           31      422   1960     1059     NA
2825    3628           55      365   2354      854     NA
2826     626           19      103    234      270     NA
2827    8084          162      494   4024     3404     NA
2828    3839           27      349   2730      733     NA
2829 1197704        15696       NA     NA       NA     NA
     crimes_percapita homicides_percapita rapes_percapita assaults_percapita
1     832.52          10.48               63.23           472.68
2     247.16           4.45               24.89           117.36
3    1637.44          37.71               90.30           717.10
4     523.76           6.00               37.72           333.46
5     404.46          10.99               63.25           154.13
6     196.06           3.89               21.33            54.04
7    1861.59          29.97               53.58           730.12
8    1848.02          19.31               73.52           492.76
9     793.32          14.92               45.47           178.79
10    739.02          25.94               27.09           372.37
11   1179.68          25.97               52.60           397.27
12    825.63          14.77               60.23           347.97
13   1576.38          43.64               74.40           382.46
14    694.84          10.82               72.63           192.04
15    885.31          27.41               63.26           403.05
16    976.11          14.56               94.46           361.71
17   2121.34          44.19               99.41           489.58
18    438.48           5.69               33.06           172.09
19    164.99           4.30               21.32            50.62
20    508.56          18.10               44.32           129.57
21    646.46          14.16               47.59           263.46
22    226.30           8.22               23.96            45.23
23    650.28          25.29               42.85           114.18
24    924.69          18.87               69.72           221.89
25    843.60          16.77               58.22           450.45
26   1241.48          23.31               61.75           526.48
27   1040.99          14.85               67.82           418.56
28    935.85          15.85               49.60           295.52
29    957.29          13.49               46.05           599.09
30   1113.79          20.29               64.76           494.27
...  ...              ...                 ...             ...
2800  124.20           1.23                 6.41            64.27
2801  949.56          41.68               103.95           423.44
2802  585.77           4.12                26.24           357.23
2803 1100.64          38.34                37.26           382.64
2804 1442.50          20.26                67.94           569.99
2805  765.59          11.58                76.12           488.88
2806  514.98          10.61                38.47           321.06
2807  940.63          11.92                67.80           666.45
2808 1028.95          17.86                84.32           495.28
2809  593.75           7.18                65.14           327.81
2810  706.16          18.57                26.72           381.27
2811      NA             NA                   NA               NA
2812  475.20           9.63                36.19           231.03
2813  382.33           3.88                24.64           199.15
2814  737.36           8.78                21.44           467.41
2815  855.24           4.17               151.57           455.23
2816  587.19           6.42                71.67           373.40
2817  398.58           2.64                40.42           257.13
2818  776.82           6.14                39.82           312.93
2819  329.63           2.91                36.36           179.84
2820  598.65           3.36                21.06           350.15
2821 1817.12          59.29                82.94          1110.39
2822  124.86           1.79                 5.89            66.72
2823  630.66           9.33                21.13           416.05
2824  655.50           5.85                79.67           370.04
2825  903.57          13.70                90.90           586.27
2826  138.25           4.20                22.75            51.68
2827 1202.57          24.10                73.49           598.61
2828  984.80           6.93                89.53           700.32
2829  372.60           4.90                   NA               NA
     robberies_percapita report_date
1     286.13             1975-12-05
2     100.46             1975-12-05
3     792.32             1975-12-05
4     146.58             1975-12-05
5     176.10             1975-12-05
6     116.79             1975-12-05
7    1047.91             1975-12-05
8    1262.42             1975-12-05
9     554.14             1975-12-05
10    313.62             1975-12-05
11    703.84             1975-12-05
12    402.66             1975-12-05
13   1075.87             1975-12-05
14    419.35             1975-12-05
15    391.60             1975-12-05
16    505.37             1975-12-05
17   1488.16             1975-12-05
18    227.64             1975-12-05
19     88.75             1975-12-05
20    316.57             1975-12-05
21    321.25             1975-12-05
22    148.88             1975-12-05
23    467.96             1975-12-05
24    614.21             1975-12-05
25    318.17             1975-12-05
26    629.94             1975-12-05
27    539.76             1975-12-05
28    574.89             1975-12-05
29    298.66             1975-12-05
30    534.46             1975-12-05
...  ...                 ...
2800  52.30              2015-12-05
2801 380.48              2015-12-05
2802 198.18              2015-12-05
2803 642.40              2015-12-05
2804 784.30              2015-12-05
2805 189.02              2015-12-05
2806 144.83              2015-12-05
2807 194.46              2015-12-05
2808 431.49              2015-12-05
2809 193.62              2015-12-05
2810 279.60              2015-12-05
2811     NA              2015-12-05
2812 198.34              2015-12-05
2813 154.67              2015-12-05
2814 239.73              2015-12-05
2815 244.28              2015-12-05
2816 135.69              2015-12-05
2817  98.40              2015-12-05
2818 417.93              2015-12-05
2819 110.52              2015-12-05
2820 224.07              2015-12-05
2821 564.50              2015-12-05
2822  50.47              2015-12-05
2823 184.15              2015-12-05
2824 199.93              2015-12-05
2825 212.69              2015-12-05
2826  59.63              2015-12-05
2827 506.38              2015-12-05
2828 188.03              2015-12-05
2829     NA              2015-12-05